*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* gap: 20px; */
  grid-template-areas:
    ". header"
    "sidebar content"
    "footer footer";
}
.container > div {
  padding: 20px;
  border: 1px solid black;
}
.header {
  grid-area: header;
}
.content {
  grid-area: content;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "one two three"
    "four five ."
    "six seven eight";
}
.content > div {
  /* background-color: skyblue; */
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.sidebar {
  grid-area: sidebar;
  grid-row: span 2;
  background-color: #0ea5e9;
}
.footer {
  grid-area: footer;
}
.filter-white {
  filter: brightness(0) invert(1);
}
/* ===============================Start sidebar styling======================================== */
.dashboard {
  display: grid;
  justify-content: center;
}

.dashboard > div {
  align-items: center;
}
#dashboard {
  font-size: 1.8rem;
  font-weight: bold;
}
.dashboard a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding-left: 10px;
}

.dashboard-1 {
  padding: 10px;
}
.dashboard-2 {
  padding: 10px;
}
.dashboard_2 {
  padding-top: 20px;
}
.dashboard-3 {
  padding: 10px;
}
.dashboard_3 {
  padding-top: 20px;
}
/* ===============================End sidebar styling======================================== */

/* ================================Start header styling====================================== */

/* ================================End header styling====================================== */
